<?php

	$i=0;
	$i++;
	$cfg['Servers'][$i]['auth_type']     = 'config';
	$cfg['Servers'][$i]['user']          = '<%= dbuser %>';
	$cfg['Servers'][$i]['password']      = '<%= dbpass %>';
	$cfg['Servers'][$i]['only_db']     	 = '<%= dbname %>';
	$cfg['AjaxEnable'] 					 = true;
	$cfg['VersionCheck']				 = true;
?>
